<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <!--%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <-%= javascript_include_tag "application", "data-turbolinks-track" => true %-->
  <link data-turbolinks-track="true" href="/assets/application.css?body=1" media="all" rel="stylesheet">
  <link data-turbolinks-track="true" href="/assets/bootstrap-theme.min.css?body=1" media="all" rel="stylesheet">
  <link data-turbolinks-track="true" href="/assets/bootstrap.min.css?body=1" media="all" rel="stylesheet">
  <link data-turbolinks-track="true" href="/assets/profiles.css?body=1" media="all" rel="stylesheet">
  <link data-turbolinks-track="true" href="/assets/scaffolds.css?body=1" media="all" rel="stylesheet">
  <link data-turbolinks-track="true" href="/assets/statuses.css?body=1" media="all" rel="stylesheet">
  <script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
  <script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
  <script data-turbolinks-track="true" src="/assets/turbolinks.js?body=1"></script>
  <script data-turbolinks-track="true" src="/assets/bootstrap.js?body=1"></script>
  <script data-turbolinks-track="true" src="/assets/profiles.js?body=1"></script>
  <script data-turbolinks-track="true" src="/assets/statuses.js?body=1"></script>
  <script data-turbolinks-track="true" src="/assets/application.js?body=1"></script>
  <%= csrf_meta_tags %>
</head>
<body >
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a href="#" class="navbar-brand">Treebook</a>
      <ul class="nav navbar-nav">
        <li class=" navbar-link"><%=h link_to "All Statuses", feed_path %></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
            <li><%=h link_to current_user.full_name, edit_user_registration_path %></li>
            <li><%=h link_to "Log Out", logout_path %></li>
        <%else%>
            <li><%=h link_to "Register",register_path %></li>
            <li><%=h link_to "Log in",login_path%></li>
        <%end%>
      </ul>
    </div>
  </div>
</div>
    <div class="container">
      <% flash.each do |type,message|%>
          <div class="alert <%=h flash_class type%> alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%=h message%>
          </div>
      <%end%>

      <%= yield %>
    </div>
</body>
</html>
