<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body >
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a href="#" class="navbar-brand">Treebook</a>
      <ul class="nav navbar-nav">
        <li class=" navbar-link"><%=h link_to "All Statuses", feed_path %></li>
        <li class=" navbar-link"><%=h link_to "All Photos", photos_path %></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
            <li><%=h link_to current_user.full_name, profile_info_path(current_user.profile_name) %></li>
            <li><%=h link_to "Log Out", logout_path %></li>
        <%else%>
            <li><%=h link_to "Register",register_path %></li>
            <li><%=h link_to "Log in",login_path%></li>
        <%end%>
      </ul>
    </div>
  </div>
</div>
    <div class="container">
      <% flash.each do |type,message|%>
          <div class="alert <%=h flash_class type%> alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%=h message%>
          </div>
      <%end%>

      <%= yield %>
    </div>
</body>
</html>
